<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="refcollapse" >
  <button type="button" class="btn btn-outline" style="background:  #005ea8;width: 100%" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
    <a class ="tittleREF">
      <div class ="tittleREF"*ngIf=!isCollapsed><fa-icon class="icons" [icon]="faPlusCircle"></fa-icon>  Réf</div>
      <div class ="tittleREF" *ngIf=isCollapsed><fa-icon class="icons" [icon]="faMinusCircle"></fa-icon> Réf</div>
    </a>
  </button>
</div>
<div id="collapseExample"  class="collapse"[ngbCollapse]="!isCollapsed">
  <div class="card" >
    <div class="card-body" >
      <h4 class="titreCard">Selection Triplet</h4>
          <hr>
      <div class="select" >
        <select #ref name="slct" id="slct">
          <option value=""hidden>Secteur Activité</option>
          <option>Epargne</option>
          <option>Prévoyance</option>
          <option>Rente</option>
        </select>
      </div>
      <button class="icon-btn add-btn" style="margin-left: 5px;float: right;position: absolute;top: 24.5%;left: 50%" (click)="openModalCreation()" >
        <div class="add-icon"></div>
        <div class="btn-txt">Ajouter</div>
      </button>
      <div class="select" >
        <select #ref2 name="slct" id="slct2">
          <option value=""hidden>Activité</option>
          <option>Epargne</option>
          <option>Prévoyance</option>
          <option>Rente</option>
        </select>
      </div>
      <button class="icon-btn add-btn" style="margin-left: 5px;float: right;position: absolute;top: 42%;left: 50%" (click)="openModalCreationActivite()" >
        <div class="add-icon"></div>
        <div class="btn-txt">Ajouter</div>
      </button>
      <div class="select">
        <select #ref3 name="slct" id="slct3">
          <option value=""hidden>Acte gestion</option>
          <option>Accès internet </option>
          <option>Adhésion</option>
          <option>Avenant autre</option>
          <option>NPAI</option>
          <option>Mutation</option>
          <option>Radiation personne</option>
          <option>Changement collège</option>
          <option>Certificat scolarité</option>
        </select>
      </div>
      <button class="icon-btn add-btn" style="margin-left: 5px;float: right;position: absolute;top: 60%;left: 50%" (click)="openModalCreationActeGestion()" >
        <div class="add-icon"></div>
        <div class="btn-txt">Ajouter</div>
      </button>
      <br>
      <div *ngIf=remplie(ref,ref2,ref3)> <button type="button" class="btn btn-outline-success" (click)="addRefSectAct(ref)"  (click)="addRefA(ref2)" (click)="addRefAG(ref3)" (click)="annuler(ref,ref2,ref3)"
                                                  style="  float: right">Envoie</button></div>
      <div *ngIf=!remplie(ref,ref2,ref3)> <button type="button" class="btn btn-outline-danger"
                                                style=" ; float: right" popoverTitle="Attention" ngbPopover="Remplir les 3 onglets" triggers="mouseenter:mouseleave" >Envoie</button></div>
      <button type="button" class="btn btn-outline-secondary" (click)="annuler(ref,ref2,ref3)" style=" float: left"  >Annuler</button>
    </div>
  </div>
</div>
<div class="collapseTest">
  <button type="button" class="btn btn-outline" style="background:  #005ea8;width: 100%" (click)="isCollapsed2 = !isCollapsed2"
          [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseExample">
    <a class ="tittleREF" >
      <div class ="tittleREF"*ngIf=isCollapsed2><img src="../../../assets/img/icons8-plus-30.png" height="15" width="15"/> TEST</div>
      <div class ="tittleREF" *ngIf=!isCollapsed2><img src="../../../assets/img/icons8-moins-30 (1).png" height="15" width="15"/> TEST</div>
    </a>
  </button>
</div>
<div id="collapseExample2"  [ngbCollapse]="isCollapsed2"class="collapse">
  <div class="card" >
    <div class="card-body">
      <div class="card" >
        <div class="card-body" >
            {{ref.value}},{{ref2.value}},{{ref3.value}}
          <div class="charge">
          <div class="preloader-1">
            <div class="charge">Chargement</div>
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
            <span class="line line-4"></span>
            <span class="line line-5"></span>
            <span class="line line-6"></span>
            <span class="line line-7"></span>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
