<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>

<footer class="footer flexbox-container" style="float: bottom; margin-top: 15px">

  <div class="navbar-left">
    <p class="navbar-text"  > © 2022 <span> Groupe SMA </span> </p>
  </div>



  <div class="contenu">
    <div class="navbar-right">
      <p class="navbar-text2"  > <span> V 1.3.0 </span> </p>
    </div>
  </div>
</footer>
</body>
</html>
