<div class="modal-header "  style="background:  #005ea8">
  <h6 class="modal-title" style="color:white" [innerText]="title"></h6>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true" style="color : white">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div [innerHtml]="body"></div>
      <div class="card" style="margin-left: 10px;box-shadow: 10px 10px 0px rgba(119,119,119,0.25);">
        <div class="card-body" >
                <h3>Ajouter un nouveau secteur activité</h3>
          <hr>
           <div class="group">
          <input type="text" #ref2 required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Code <span style="color: red;float: left">*</span> </label>
        </div>

          <div class="group">
            <input type="text" #ref maxlength="30" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Libelle court <span style="color: red;float: left">*</span> </label>
          </div>

          <div class="group">
            <input type="text" #ref3 maxlength="100" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Libelle long <span style="color: red;float: left">*</span> </label>
          </div>



          <span style="color: red;float: left">*</span> <small>Champs obligatoires</small> <br><br><br>

          <div style="margin-top: 5px; position: absolute;top: 100px ;right: 50px">
            Votre commentaire : <br>
          <textarea type="textarea" placeholder="Ajouter un commentaire" style=" border-radius: 4px;width:340px;height: 200px;max-height: 300px"maxlength="500"  #ref4></textarea> </div>


          <div *ngIf=!remplie(ref,ref2,ref3)> <button type="submit" class="btn btn-outline-danger btn-lg" disabled   style="float: right;margin-top: 20px">Valider</button></div>
          <div *ngIf=remplie(ref,ref2,ref3)> <button type="submit" class="btn btn-outline-success btn-lg" (click)="addRef(ref,ref2,ref3,ref4)" (click)="activeModal.dismiss(null)" (click)="save(ref)"  style="float: right;margin-top: 20px" >Valider</button></div>
          <button type="button" class="btn btn-outline-secondary btn-lg" (click)="annuler(ref,ref2,ref3,ref4)" style="margin: 20px; float: right"  >Annuler</button>


        </div>
      </div>
    </div>
<div class="modal-footer">

  <button type="button" class="btn btn-outline-secondary btn-sm" (click)="activeModal.dismiss(null)"><i class="fa fa-times" aria-hidden="true"></i>Annuler</button>
</div>

